<div class="container-listasreproduccion">
    <div class="header-listasreproduccion">
        <h1>Listas de Reproduccion</h1>
        <div class="search-listasreproduccion">
            <div class="form-buscar-listasreproduccion">
                <div class="input width-80">
                    <input [(ngModel)]="valorBuscado" type="text" class="input-search" id="buscar-listasreproduccion" name="buscar-listasreproduccion"
                        placeholder="Buscar por nombre de lista de Reproduccion">
                </div>
                <div>
                    <button class="btn btn-search-listasreproduccion" type="button" (click)="buscarListasReproduccion($event)">
                        <fa-icon [icon]="faSearch"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="marg-left-20 container-btn-crear-listasreproduccion">
                <a routerLink="/crear-lista-reproduccion" routerLinkActive="active">
                    <button class="btn btn-add">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="mensaje-no-listasreproduccion" *ngIf="!validarSiHayListaReproduccion">
        <p>No hay listas de reproducción disponibles.</p>
    </div>
    <div class="container-cards " *ngIf="validarSiHayListaReproduccion">
        <div class="card card-listasreproduccion " *ngFor="let lista of ListaReproduccion">
            <img src="assets/images/logo.png" alt="Logo seguros bolivar blanco" width="65" height="60" >
            <p class="title-listasreproduccion">{{ lista.nombre }}</p>
            <p class="descripcion-listasreproduccion">{{ lista.descripcion }}</p>
            <ul>
                <li *ngFor="let cancion of lista.canciones">
                    <p>Titulo: {{ cancion.titulo }}</p>
                    <p>Artista: {{ cancion.artista }}</p>
                    <p>Álbum: {{ cancion.album }}</p>
                    <p>Año: {{ cancion.anno }}</p>
                    <p>Género: {{ cancion.genero }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>